
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container .text-muted {
    margin: 20px 0;
}

